@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl-500.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* 100 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl-100.woff') format('woff'); 
    font-weight: 100;
    font-style: normal;
}

/* 300 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl-300.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

/* 700 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl-700.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

/* 900 */

@font-face {
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
         url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
         url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSansCyrl-900.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MuseoSansCyrl';
}
.lock{
    overflow-y: hidden;
}
button{
    width: 210px;
    height: 42px;
    border-radius: 5px;
    background-color: #05A1DC;
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 18px;
    transition: 0.2s all;
    cursor: pointer;
}
button:hover{
    background-color: #28b4e7;
}
.section1{
    height: 100vh;
    width: 100%;
    background: url('../img/background.png') 100% / 100% no-repeat;
    position: relative;
    background-size: cover;
    overflow-x: hidden;
}
.background-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(34, 34, 34, 0.6);
}
.wave-img{
    position: absolute;
    left: 0;
    bottom: 0px;
}
.scroll-down-img{
    position: absolute;
    left: 80px;
    bottom: 5%;
}
.particles-img{
    position: absolute;
    left: 390px;
    bottom: 5%;
}
.support{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 10px;
    z-index: 3;
}
.support img{
    height: 40px;
    width: 40px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}
.nav{
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.nav-container{
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-list{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list ul li a{
    text-decoration: none;
    color: #CACACA;
    font-size: 17px;
    margin-left: 30px;
    font-weight: 400;
}
.nav-list button{
    margin-left: 60px;
    
}


.bars{
    display: none;
}
.burger-menu{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100vh);
    transition: 0.8s all;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    z-index: 3;
    overflow-y: hidden;
}
.burger-menu.active{
    transform: translateY(0vh);
}
.button-close-burger{
    padding: 15px 15px 0 0;
    font-size: 26px;
}
.burger-list{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 26px;
    align-items: center;
}
.burger-list a{
    text-decoration: none;
    color: #000;
}



.section1-content{
    width: 100%;
}
.hidden-block{
    height: 100px;
    width: 100%;
}
.section1-text{
    font-family: 'Manrope', sans-serif;
    position: absolute;
    z-index: 2;
}
.section1-text{
    width: 100%;
    height: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 5px;
}
.text1{
    font-weight: 300;
}
.section1-text h1{
    font-size: 48px;
}
.section1-text p{
    font-size: 24px;
    font-weight: 300;
    margin-top: 22px;
}
.section1-text button{
    margin-top: 40px;
    width: 230px;
    height: 50px;
}
.section2{
    position: absolute;
    z-index: 1;
}













@media (max-width:1200px) {
    .container{
        max-width: 1024px;
    }
    .nav-container{
        max-width: 1024px;
    }
    .nav-list ul li a{
        margin-left: 20px;
    }
    .wave{
        bottom: -30px;
    }
}
@media (max-width:1024px) {
    .container{
        max-width: 768px;
    }
    .nav-container{
        max-width: 768px;
    }
    .bars{
        display: block;
        font-size: 26px;
        color: #fff;
    }
    .nav-list{
        display: none;
    }
}
@media (max-width:768px) {
    .container{
        max-width: 480px;
    }
    .nav-container{
        max-width: 480px;
    }
    .support{
        top: 65%;
    }
    .section1-text h1{
        font-size: 32px;
    }
    .section1-text p{
        font-size: 18px;
    }
    .logo img{
        width: 170px;
        height: 45px;
    }
}
@media (max-width:480px) {
    .scroll-down-img{
        left: 15px;
    }
    .particles-img{
        left:80%;
        height: 50px;
        width: 50px;
    }
}
